.profileMain,
.infoBlock,
.mainItem {
  display: flex;
}

.profileMain {
  flex-direction: column;
  min-height: 500px;
  color: var(--color-heading-1);
  word-wrap: break-word;
  padding: 10px;
  .mainItem {
    justify-content: space-around;
  }
  .editBlock {
    margin: 0 auto;
    .buttonEdit {
      padding: 5px 15px;
    }
  }
  .infoBlock {
    flex-direction: column;
    width: 100%;
    .infoBlockItem {
      text-align: center;
    }
    .friendUserActions {
      margin: 0 auto;
      & button {
        min-width: 119px;
      }
    }
  }
}


