.profileMain {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  color: var(--color-heading-1);
  word-wrap: break-word;
  padding: 10px;
  .editBlock {
    margin: 0 auto;
    .buttonEdit {
      padding: 5px 15px;
    }
  }
  .mainItem {
    display: flex;
    justify-content: space-around;
  }
  .infoBlock {
    display: flex;
    flex-direction: column;
    .aboutMe {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}


