.headerMain {
  margin: 0 auto;
  max-width: 1300px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
  background-color: var(--color-surface-3);
  border-radius: 4px;
  .container {
    margin: 0 30px;

    .headerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-heading-1);
      padding: 5px;
      .logoHeader {
        display: flex;
        align-items: center;
      }
      .userBlock {
        display: flex;
        align-items: center;
        gap: 10px;
        .userAva {
          display: flex;
          align-items: center;
        }
      }

    }
  }
}


.defaultAva {
  box-shadow: 0 0 10px #9f9f9f;
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
}

.imgHeader {
  width: 50px;
}