.newsMain {
  color: chocolate;
  text-align: center;
}

.iconStylePoo {
  display: flex;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  color: #5b320c;
}

.iconStylePaper {
  display: flex;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  color: #b7b9ea;
}