.infoBlock {
  .itemsBlock {
    display: flex;
    flex-direction: column;
    .contactItem {
      display: inline-flex;
      align-items: center;
      .itemTitle {
        color: var(--color-heading-2);
        width: 120px;
      }
      .itemLink {
        display: flex;
        max-width: 300px;
        word-break: break-all;
        text-align: left;
                &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  & h4 {
    margin: 5px;
    padding: 5px;
  }
  & a {
    color: var(--color-link);
  }
}