.usersBlock,
.usersMain,
.totalUsers,
.usersPagination {
  display: flex;
}

.usersBlock {
  flex-direction: column;
  padding: 10px 5px 10px 5px;
  .usersMain {
    flex-wrap: wrap;
    width: 100%;
  }
  .usersPagination {
    justify-content: space-around;
    align-items: center;
  }
  .totalUsers {
    margin: 0 auto;
  }
}


