body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  background-color: var(--color-bg-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li, ul, {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

:root {
  // Color
  --color-heading: #FCFCFC;
  --color-heading-1: #001e2b;
  --color-paragraph: #D6D6D6;
  --color-paragraph-1: #42494f;
  --color-border: #383838;
  --color-bg-1: #001E2B;
  --color-bg-2: #023430;
  --color-bg-3: #00684A;
  --color-bg-4: #00ed64;
  --color-surface-1: #3a4750;
  --color-surface-2: #f6c90e;
  --color-surface-3: #eeeeee;
  --color-accent: #fa9d1f;
  --color-error: #e66262;

  // Shadow
  --box-shadow-24: -4px 8px 24px rgba(0, 0, 0, 0.25);
  --box-shadow-30: 0px 16px 30px rgba(0, 0, 0, 0.25);
  --box-shadow-40: 0px 16px 40px rgba(0, 0, 0, 0.25);
  --box-shadow-50: 0px 25px 50px rgba(0, 0, 0, 0.15);
  --box-shadow-80: 0px 24px 80px rgba(0, 0, 0, 0.7);
}